{% block quees %}
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">¿Qué es?</h2>
            <h3 class="section-subheading text-muted">
                La Red MenTe es un proyecto de la ONG <a href="http://www.ideasenaccion.com/">Ideas en Acción</a>, una organización que identifica, ejecuta y difunde proyectos de innovación social con alto potencial de replicabilidad y relevancia a nivel global para el desarrollo sostenible.
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {{ sobre.informacion|safe }}
        </div>
    </div>
{% endblock quees %}